<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739618848459-aui02c2fdnqc58ur12357r3hjujv1dve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739618848459-aui02c2fdnqc58ur12357r3hjujv1dve</string>
	<key>API_KEY</key>
	<string>AIzaSyAQvPGU_hsL-tu-kfp8qCyDD_uvIdNaLnw</string>
	<key>GCM_SENDER_ID</key>
	<string>739618848459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shineweb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shineweb-e2a3b</string>
	<key>STORAGE_BUCKET</key>
	<string>shineweb-e2a3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739618848459:ios:f06508675d143b81b5a54e</string>
</dict>
</plist>